#platform=x86, AMD64, or Intel EM64T
#version=DEVEL

# Install OS instead of upgrade
install

# URL
# url --url http://mirrors.gigenet.com/centos/7/os/x86_64/

# Keyboard layouts
keyboard 'br-abnt2'

# System language
lang en_US

# System authorization information
auth  --useshadow  --passalgo=sha512

# Use CDROM installation media
cdrom

# Use text mode install
text

# SELinux configuration
selinux --enforcing

# Do not configure the X Window System
skipx

# Firewall configuration
firewall --disabled

# Network information
network --bootproto=static --device=ens32 --gateway=192.168.0.1 --ip=192.168.0.133 --nameserver=1.1.1.1 --netmask=255.255.255.0 --activate
network --bootproto=static --device=ens33 --ip=192.168.88.133 --netmask=255.255.255.0 --activate
network --hostname=centos7

# Reboot after installation
reboot

# System timezone
timezone America/Sao_Paulo

# System bootloader configuration
bootloader --location=mbr

# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all

# Disk partitioning information
part /boot --asprimary --fstype="ext4" --size=512
part / --asprimary --fstype="ext4" --grow --size=1

# Accept Eula
eula --agreed

# Root password
rootpw --iscrypted $1$9lO/RTP.$jrgb.CeEMXij2H0H5pbiw0

# Creates a new user on the system.
user --name=terraform --groups=wheel,terraform --plaintext --password=terraform
# authconfig --enableshadow --passalgo=sha512

# Package Selection
%packages
python3
%end

# Allow Remote Access to the new system using ssh key file
# %post
# /bin/mkdir /root/.ssh
# /bin/chmod 700 /root/.ssh
# /bin/echo -e 'ssh-rsa AAAAB3Nza.....9WhQ== terraform@centos7' > /root/.ssh/authorized_keys
# /bin/chown -R root:root /root/.ssh
# /bin/chmod 0400 /root/.ssh/*
# %end
